{% load trans from i18n %}
{% load static from staticfiles %}
{% load compress from compress %}
{% load topmenu from websitetags %}
{% load messages from websitetags %}
{% load username from accountstags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans "Seimo pozicija" %}</title>

    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/main.scss" %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/accounts.scss" %}">
    {% endcompress %}

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            {% if request.user.is_authenticated %}
            <li><a href="#">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <strong>{% username request.user %}</strong>
            </a></li>
            <li><a href="{% url 'accounts_logout' %}">{% trans "Atsijungti" %}</a></li>
            {% else %}
            <li><a href="{% url 'accounts_login' %}">{% trans "Prisijungti" %}</a></li>
            {% endif %}
          </ul>
          <div class="pull-left">
            <a href="/"><img src="{% static "img/logo.png" %}"></a>
          </div>
          {% topmenu %}
        </div>
      </div>
    </nav>

    <div class="container">
      {% messages %}
      {% block content %}
      {% endblock %}
    </div>

    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "typeahead.bundle.min.js" %}"></script>
    <script data-main="{% static "js/main.js" %}" src="{% static "require.min.js" %}"></script>
  </body>
</html>
