.landing-page {
  background: url("/static/img/intro-bg.jpg") no-repeat center center;
  background-size: cover;
  filter: sepia(20%); }

.main-title h1, .main-title h2 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center; }

.main-title h1 a {
  color: #467BA7;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 6px; }
  .main-title h1 a:hover {
    text-decoration: none; }

.main-title h2 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px; }

.main-topics {
  width: 900px;
  margin: 0px auto; }
  .main-topics a {
    display: block;
    width: 225px;
    height: 120px;
    padding: 0px 16px;
    background: black;
    color: white;
    opacity: 0.5;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 104px; }
    .main-topics a:hover {
      background: transparent;
      color: white;
      opacity: 1.0;
      text-decoration: none; }
    .main-topics a span {
      display: inline-block;
      line-height: 26px;
      vertical-align: middle; }
