#body {
  background: url("intro-bg.jpg") no-repeat center center;
  background-size: cover;
  filter: sepia(20%); }

#maintitle {
  text-align: center;
  color: white;
  margin-top: 60px;
  margin-bottom: 60px; }

#maintitle a {
  color: white;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 6px; }

#maintitle a:hover {
  text-decoration: none; }

#maintitle h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px; }

.maintopics {
  background: black;
  opacity: 0.5;
  height: 150px;
  padding: 5%;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }

.maintopics:hover {
  background: transparent;
  opacity: 1.0; }

.maintopics a {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.maintopics a:hover {
  color: white;
  text-decoration: none;
  opacity: 1.0; }
