# http://editorconfig.org/

root = true

[*.{py,js,html,scss}]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
max_line_length = 120

[*.{py,js}]
indent_size = 4

[*.{html,scss}]
indent_size = 2
