.installed.cfg
bin
settings.json
develop-eggs
include
lib
parts
var
tags
.ropeproject
.coverage
__pycache__
*.egg-info
*.pyc
prototype/static/css/main.css
/lib64
/man/
/share/
/.cache/
/pip-selfcheck.json
/.pytest_cache/
/src/
/wheels/
*.retry
/node_modules/
/pyvenv.cfg
/build/
