.installed.cfg
bin
buildout.cfg
settings.json
develop-eggs
include
lib
parts
var
tags
.ropeproject
.coverage
__pycache__
*.egg-info
*.pyc
prototype/static/css/main.css
/lib64
/man/
/share/
/.cache/
/pip-selfcheck.json
