django
django-compressor
django-libsass
django-debug-toolbar
django-extensions
-e git+https://github.com/justinmayer/django-autoslug.git@4dc75083d84265e019a900d636273c731457193d#egg=django-autoslug
django-allauth
django-bootstrap-form
django-js-reverse
django-autocomplete-light
sorl-thumbnail
unidecode
markdown
yattag
psycopg2-binary
docutils
beautifulsoup4
pyyaml
panavatar
pillow
requests
requests-cache
lxml

# key performance indicators
pandas
