django
django-nose
django-compressor
django-libsass
django-debug-toolbar
django-extensions
django-webtest
django-autoslug
django-allauth
factory_boy
fake-factory
unidecode
markdown
yattag
psycopg2
mock
docutils
exportrecipe
beautifulsoup4
pyyaml

# testing
pytest
pytest-django
