$static-url: '/static';

@import "landing_page";
@import "topic_page";


.form-horizontal h1 {
    margin-left: -10px;
    margin-bottom: 32px;
}

.top-menu li a {
    font-size: 18px;
}

.create-buttons {
    padding-top: 6px;
    padding-bottom: 20px;
    text-align: center;
}

.create-buttons-heading {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

.page-actions > .btn {
    margin-right: 12px;
}


.party-photo {
  width: 78px;
  height: 74px;
  padding-top: 4px;
}


.actor-photo {
  width: 78px;
  height: 74px;
  background-color: #ececec;
  background-position: 1px 2px;
}

.actor-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 16px;
}

.quote-text {
  font-size: 16px;
  color: #4d4d4d;
}

.post-separator {
  margin: 0;
  margin-bottom: 8px;
}

.post-vote {
  text-align: center;
  font-weight: bold;
  color: #808080;
  div.thumb {
    cursor: pointer;
    position: relative;
    width: 14px;
    margin: 0 auto;
    &.top {
      top: 6px;
      background: url($static-url+'/img/thumb-up.png') no-repeat center center;
    }
    &.top.active, &.top:hover {
      background-image: url($static-url+'/img/thumb-up-active.png');
    }
    &.bottom {
      bottom: 5px;
      background: url($static-url+'/img/thumb-down.png') no-repeat center center;
    }
    &.bottom.active, &.bottom:hover {
      background-image: url($static-url+'/img/thumb-down-active.png');
    }
  }
}

.event-name {
  font-size: 16px;
  margin: 14px 0;
}

.event-date {
  margin: 18px 0;
}

.event-indicator {
  text-align: left;
  img {
    margin-top: 15px;
    margin-left: 33px;
  }
}

.timeline {
  background: url($static-url+'/img/timeline.png') repeat-y 22px 0px;
}

.timeline-box {
  margin: 0px;
  padding: 0px;
  width: 72px;
}


.positive-args-img, .negative-args-img {
  position: relative;
  top: 10px;
}

.positive-args-img {
  left: 10px;
}

.negative-args-img {
  left: 24px;
}

.arguments-positive-header, .arguments-negative-header {
  font-size: 20px;
  line-height: 42px;
  margin-bottom: 8px;
}

.arguments-positive-header {
  color: #3C763D;
}

.arguments-negative-header {
  color: #A94442;
}

.argument-link {
  font-size: 16px;
}

.positive-count, .negative-count {
  color: white;
  border-radius: 10px;
  padding: 0 6px;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 2px;
}
.positive-count {
  background-color: #3C763D;
  left: 10px;
}
.negative-count {
  background-color: #A94442;
  left: 24px;
}

.indicator-mark {
  position: relative;
  left: 9px;
}

.event-mark {
  position: relative;
  top: 7px;
  right: 1px;
}


.form-group .select2-container .select2-selection {
  height: 44px;
}
