$static-url: '/static';

@import "landing_page";
@import "topic_page";


.form-horizontal h1 {
    margin-left: -10px;
    margin-bottom: 32px;
}

.top-menu li a {
    font-size: 18px;
}

.create-buttons {
    padding-top: 6px;
    padding-bottom: 20px;
    text-align: center;
}

.create-buttons-heading {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

.page-actions > .btn {
    margin-right: 12px;
}


.actor-photo {
  width: 78px;
  height: 74px;
  background-color: #ececec;
  background-position: 1px 2px;
}
