$static-url: '/static';

@import "landing_page";
@import "topic_page";


.form-horizontal h1 {
    margin-left: -10px;
    margin-bottom: 32px;
}

.top-menu li a {
    font-size: 18px;
}

.create-buttons {
    padding-top: 6px;
    padding-bottom: 20px;
    text-align: center;
}

.create-buttons-heading {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

.page-actions > .btn {
    margin-right: 12px;
}


.actor-photo {
  width: 78px;
  height: 74px;
  background-color: #ececec;
  background-position: 1px 2px;
  position: relative;
  left: 10px;
}

.actor-name {
  font-size: 16px;
  font-weight: bold;
  margin-right: 16px;
}

.quote-text {
  font-size: 16px;
  color: #4d4d4d;
}

.post-separator {
  margin: 0;
  margin-bottom: 8px;
}

.post-vote {
  text-align: center;
  font-weight: bold;
  color: #808080;
  div.thumb {
    cursor: pointer;
    position: relative;
    width: 14px;
    margin: 0 auto;
    &.top {
      top: 3px;
      background: url($static-url+'/img/thumb-up.png') no-repeat center center;
    }
    &.top.active, &.top:hover {
      background-image: url($static-url+'/img/thumb-up-active.png');
    }
    &.bottom {
      bottom: 6px;
      background: url($static-url+'/img/thumb-down.png') no-repeat center center;
    }
    &.bottom.active, &.bottom:hover {
      background-image: url($static-url+'/img/thumb-down-active.png');
    }
  }
}
