{% load static from static %}
{% load trans from i18n %}
{% load thumbnail %}


{% for post in posts %}
  {% if post.type == 'event' %}
    <div class="row">
      <div class="col-sm-1 col-md-1 timeline-box event-indicator">
        <img src="{% static post.event.position_image %}" />
      </div>
      <div class="col-sm-10 col-md-11">
        <div class="row">
          <div class="col-sm-10 col-md-11">
            <a href="{{ post.event.source.link }}" target="_blank" class="text-muted pull-right event-date">
              {{ post.event.timestamp }} »
            </a>
            <p class="event-name"><a href="#">{{ post.event.name }}</a></p>
          </div>
          <div class="col-sm-1 col-md-1 post-vote">
            {% include 'manopozicija/_post_vote.html' with post=post.post %}
          </div>
        </div>
        <hr class="post-separator"/>
      </div>
    </div>
  {% elif post.type == 'curator' %}
    <div class="row">
      <div class="col-sm-1 col-md-1 timeline-box">
        {% thumbnail post.curator.photo "70x70" crop="50% 0%" background="#FFF" as photo %}
          <div class="actor-photo" style="background:url({{ photo.url }}) no-repeat 0px 2px;">
            <img src="{% static post.curator.position_image %}" />
          </div>
        {% empty %}
          <div class="actor-photo">
            <img src="{% static post.curator.position_image %}" />
          </div>
        {% endthumbnail %}
      </div>
      <div class="col-sm-10 col-md-11">
        <div class="row">
          <div class="col-sm-10 col-md-11">
            <span class="text-muted pull-right"><br/>{% trans "naujas temos kuratorius" %}</span>
            <p class="event-name">
              <a href="#">{{ post.curator.name }}</a><br/>
              <span class="text-muted">{{ post.curator.title }}</span>
            </p>
          </div>
          <div class="col-sm-1 col-md-1 post-vote">
            {% include 'manopozicija/_post_vote.html' with post=post.post %}
          </div>
        </div>
        <hr class="post-separator"/>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-sm-1 col-md-1 timeline-box">
        {% thumbnail post.source.actor.photo "70x70" crop="50% 0%" background="#FFF" as photo %}
          <div class="actor-photo" style="background:url({{ photo.url }}) no-repeat 0px 2px;">
            <img src="{% static post.source.actor.position_image %}" />
          </div>
        {% empty %}
          <div class="actor-photo">
            <img src="{% static post.source.actor.position_image %}" />
          </div>
        {% endthumbnail %}
      </div>
      <div class="col-sm-10 col-md-11">
        <div class="row">
          <div class="col-sm-10 col-md-11">
            <a href="{{ post.source.link }}" target="_blank" class="text-muted pull-right">
              {{ post.source.name }} »
            </a>
            <a href="#" class="actor-name">{{ post.source.actor.name }}</a>
            <a href="#" class="text-muted">{{ post.source.actor.title }}</a>
          </div>
        </div>
        {% for quote in post.quotes %}
          <div class="row">
            <div class="col-sm-10 col-md-11">
              <p class="quote-text">{{ quote.text }}</p>
              {% if is_topic_curator %}
              <p class="pull-right">
                <a href="{% url 'quote-update' quote.post.id %}" class="text-muted">{% trans "keisti" %}</a> &nbsp; &nbsp;
                <a href="{% url 'post-delete' quote.post.id %}" class="text-muted">{% trans "trinti" %}</a>
              </p>
              {% endif %}
              <p>
                {% for argument in quote.arguments %}
                  <a href="#" class="{{ argument.classes }}">
                    <span class="{{ argument.counterargument.classes }}" aria-hidden="true"></span>
                    {{ argument.name }}
                  </a>
                {% endfor %}
              </p>
            </div>
            <div class="col-sm-1 col-md-1 post-vote">
              {% include 'manopozicija/_post_vote.html' with post=quote.post %}
            </div>
          </div>
          <hr class="post-separator"/>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endfor %}
