{% extends "_base.html" %}
{% load static from static %}
{% load trans from i18n %}
{% load thumbnail %}


{% block content %}

<h1>{% trans "Pozicijų palyginimas" %}</h1>
<h2>{% trans "Jūs ir" %} {{ group.title }}</h2>

<div class="row">
  <div class="col-sm-1 col-md-1 timeline-box text-right"><img src="{% static 'img/thumb-up-big.png' %}" class="positive-args-img" /></div>
  <div class="col-sm-5 col-md-5 arguments-positive-header">{% trans "labiausiai sutampa" %}</div>
  <div class="col-sm-1 col-md-1 text-right"><img src="{% static 'img/thumb-down-big.png' %}" class="negative-args-img" /></div>
  <div class="col-sm-4 col-md-5 arguments-negative-header">{% trans "labiausiai skiriasi" %}</div>
</div>
{% for compat, incompat in positions %}
  <div class="row">
    {% if compat %}
      <div class="col-sm-2 col-md-2">
        {% thumbnail compat.actor.photo "70x70" crop="50% 0%" background="#FFF" as photo %}
          <div class="actor-photo pull-right" style="background:url({{ photo.url }}) no-repeat 0px 2px;">
            <img src="{% static 'img/actor-positive.png' %}" />
          </div>
        {% empty %}
          <div class="actor-photo pull-right">
            <img src="{% static 'img/actor-positive.png' %}" />
          </div>
        {% endthumbnail %}
        {% if compat.group %}
          {% thumbnail compat.group.photo "70x70" crop="50% 0%" background="#FFF" as photo %}
            <div class="party-photo pull-right">
              <img src="{{ photo.url }}" />
            </div>
          {% endthumbnail %}
        {% endif %}
      </div>
      <div class="col-sm-4 col-md-4">
        <p>
          <br/>
          <a href="#" class="event-name">{{ compat.actor }}</a>
          {% if compat.group %}
            <br/><span class="text-muted">{{ compat.group }}</span>
          {% endif %}
        </p>
      </div>
    {% else %}
      <div class="col-sm-6 col-md-6"></div>
    {% endif %}
    {% if incompat %}
      <div class="col-sm-2 col-md-2">
        {% thumbnail incompat.actor.photo "70x70" crop="50% 0%" background="#FFF" as photo %}
          <div class="actor-photo pull-right" style="background:url({{ photo.url }}) no-repeat 0px 2px;">
            <img src="{% static 'img/actor-negative.png' %}" />
          </div>
        {% empty %}
          <div class="actor-photo pull-right">
            <img src="{% static 'img/actor-negative.png' %}" />
          </div>
        {% endthumbnail %}
        {% if incompat.group %}
          {% thumbnail incompat.group.photo "70x70" crop="50% 0%" background="#FFF" as photo %}
            <div class="party-photo pull-right">
              <img src="{{ photo.url }}" />
            </div>
          {% endthumbnail %}
        {% endif %}
      </div>
      <div class="col-sm-4 col-md-4">
        <p>
          <br/>
          <a href="#" class="event-name">{{ incompat.actor }}</a>
          {% if incompat.group %}
            <br/><span class="text-muted">{{ incompat.group }}</span>
          {% endif %}
        </p>
      </div>
    {% else %}
      <div class="col-sm-6 col-md-6"></div>
    {% endif %}
  </div>
{% endfor %}

{% endblock %}
