{% extends "_base.html" %}
{% load static from static %}
{% load trans from i18n %}
{% load thumbnail %}


{% block content %}

<h1>{% trans "Pozicijų palyginimas" %}</h1>
<h2>{% trans "Jūs ir" %} {{ group.title }}</h2>

<div class="row">
  <div class="col-md-1 timeline-box text-right"><img src="{% static 'img/thumb-up-big.png' %}" class="positive-args-img" /></div>
  <div class="col-md-5 arguments-positive-header">{% trans "labiausiai sutampa" %}</div>
  <div class="col-md-5 arguments-negative-header">{% trans "labiausiai skiriasi" %}</div>
  <div class="col-md-1"><img src="{% static 'img/thumb-down-big.png' %}" class="negative-args-img" /></div>
</div>
{% for compat, incompat in positions %}
  <div class="row">
    {% if compat %}
      <div class="col-md-2">
        {% thumbnail compat.actor.photo "70x70" crop="50% 0%" background="#FFF" as photo %}
          <div class="actor-photo pull-right" style="background:url({{ photo.url }}) no-repeat 0px 2px;">
            <img src="{% static 'img/actor-positive.png' %}" />
          </div>
        {% empty %}
          <div class="actor-photo pull-right">
            <img src="{% static 'img/actor-positive.png' %}" />
          </div>
        {% endthumbnail %}
      </div>
      <div class="col-md-4">
        <p><a href="#">{{ compat.actor }}</a></p>
        {% if compat.group %}
          <p><a href="#">{{ compat.group }}</a></p>
        {% endif %}
      </div>
    {% else %}
      <div class="col-md-6"></div>
    {% endif %}
    {% if incompat %}
      <div class="col-md-4 text-right">
        <p><a href="#">{{ incompat.actor }}</a></p>
        {% if incompat.group %}
          <p><a href="#">{{ incompat.group }}</a></p>
        {% endif %}
      </div>
      <div class="col-md-2">
        {% thumbnail incompat.actor.photo "70x70" crop="50% 0%" background="#FFF" as photo %}
          <div class="actor-photo" style="background:url({{ photo.url }}) no-repeat 0px 2px;">
            <img src="{% static 'img/actor-negative.png' %}" />
          </div>
        {% empty %}
          <div class="actor-photo">
            <img src="{% static 'img/actor-negative.png' %}" />
          </div>
        {% endthumbnail %}
      </div>
    {% else %}
      <div class="col-md-6"></div>
    {% endif %}
  </div>
{% endfor %}

{% endblock %}
