{% extends "_base.html" %}

{% load i18n %}
{% load bootstrap %}


{% block content %}
{% if page_title %}
  <h1>{{ page_title }}</h1>
{% endif %}

<h2>{{ form_title }}</h2>

<form id="{{ form_name }}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      {% for form in forms %}
        {{ form|bootstrap }}
      {% endfor %}
    </div>
  </div>
  <hr/>
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans "Pateikti" %}</button>
  </div>
</form>
{% endblock %}
