{% extends "_base.html" %}
{% load static from static %}
{% load trans from i18n %}
{% load thumbnail %}


{% block css %}
<link href="{% static 'c3.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block js %}
<script src="{% static 'd3.min.js' %}" charset="utf-8"></script>
<script src="{% static 'c3.min.js' %}"></script>
<script src="{% static 'js/kpi.js' %}"></script>
{% endblock %}


{% block content %}

<h1>{{ topic.title }}</h1>

{% if posts %}
  {% if has_indicators %}
  <div id="chart" data-kpi-url="{% url 'topic-kpi' topic.pk topic.slug %}"></div>
  {% endif %}

  <div class="row">
    <div class="col-md-1 timeline-box"></div>
    <div class="col-md-11">
      <h3>{% trans "Esminiai veiklos rodikliai" %}</h3>
    </div>
  </div>

  <div class="timeline">
    <div class="row">
      <div class="col-md-1 timeline-box"></div>
      <div class="col-md-11">
        <h3>{% trans "Pagrindiniai argumentai" %}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 timeline-box text-right"><img src="{% static 'img/thumb-up-big.png' %}" class="positive-args-img" /></div>
      <div class="col-md-5 arguments-positive-header">{% trans "pliusai" %}</div>
      <div class="col-md-5 arguments-negative-header">{% trans "minusai" %}</div>
      <div class="col-md-1"><img src="{% static 'img/thumb-down-big.png' %}" class="negative-args-img" /></div>
    </div>
    {% for positive, negative in arguments %}
    <div class="row">
      {% if positive %}
      <div class="col-md-1 timeline-box text-right"><span class="positive-count">{{ positive.count }}</span></div>
        <div class="col-md-5">
          <a href="#" class="text-success argument-link">{{ positive.title }}</a>
        </div>
      {% else %}
        <div class="col-md-1 timeline-box"></div>
        <div class="col-md-5"></div>
      {% endif %}

      {% if negative %}
        <div class="col-md-5 text-right">
          <a href="#" class="text-danger argument-link">{{ negative.title }}</a>
        </div>
        <div class="col-md-1"><span class="negative-count">{{ negative.count }}</span></div>
      {% else %}
        <div class="col-md-5"></div>
        <div class="col-md-1"></div>
      {% endif %}
    </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-1 timeline-box"></div>
      <div class="col-md-11">
        <h3>{% trans "Sprendimai ir nuomonės" %}</h3>
        <p class="text-muted">Spauskite <img src="{% static 'img/thumb-up.png' %}"/>, jei pritariate sprendimui ar nuomonei,
        spauskite <img src="{% static 'img/thumb-down.png' %}"/>, jei prieštaraujate.</p>
      </div>
    </div>
    {% include "manopozicija/_topic_posts.html" with posts=posts %}
  </div>
{% endif %}

{% if is_topic_curator %}
  <div class="row">
    <div class="col-md-1 timeline-box"></div>
    <div class="col-md-11">
      <h3>{% trans "Temos kuratoriai" %}</h3>
    </div>
  </div>

  {% for curator in curators %}
    <div class="row">
      <div class="col-md-1 col-md-offset-1">
        {% thumbnail curator.photo "70x70" crop="50% 0%" background="#FFF" as photo %}
          <div class="actor-photo pull-right" style="background:url({{ photo.url }}) no-repeat 0px 2px;">
            <img src="{% static curator.position_image %}" />
          </div>
        {% empty %}
          <div class="actor-photo pull-right">
            <img src="{% static curator.position_image %}" />
          </div>
        {% endthumbnail %}
      </div>
      <div class="col-md-4">
        <p>
          <br/>
          <span class="event-name">{{ curator.name }}</span><br/>
          <span class="text-muted">{{ curator.title }}</span>
        </p>
      </div>
    </div>
  {% endfor %}
{% endif %}

{% if request.user.is_authenticated %}
  <div class="row">
    <div class="col-md-1 timeline-box"></div>
    <div class="col-md-11">
      <h3>{% trans "Prisijunk prie temos vystymo" %}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 timeline-box"></div>
    <div class="col-md-11">
      <a href="{% url "quote-create" topic.pk topic.slug %}" class="btn btn-lg btn-default">
        {% trans "Pridėk citatą" %}
      </a>
      <a href="{% url "event-create" topic.pk topic.slug %}" class="btn btn-lg btn-default">
        {% trans "Pridėk sprendimą" %}
      </a>
      {% if not is_topic_curator %}
        <a href="{% url "curator-apply" topic.pk topic.slug %}" class="btn btn-lg btn-default">
          {% trans "Tapk temos kuratoriumi" %}
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}

{% if is_topic_curator and queue %}
  <div class="row">
    <div class="col-md-1 timeline-box"></div>
    <div class="col-md-11">
      <h3>{% trans "Pasiūlymų moderavimas" %}</h3>
    </div>
  </div>

  <div class="timeline">
    {% include "manopozicija/_topic_posts.html" with posts=queue %}
  </div>
{% endif %}

{% endblock %}
