{% extends "_base.html" %}
{% load static from static %}
{% load trans from i18n %}


{% block css %}
<link href="{{ cdn.c3 }}/c3.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block js %}
<script src="{{ cdn.d3 }}/d3.min.js" charset="utf-8"></script>
<script src="{{ cdn.c3 }}/c3.min.js"></script>
<script src="{% static 'js/kpi.js' %}"></script>
{% endblock %}


{% block content %}
<h2>{{ topic.title }}</h2>
<div id="chart"></div>

<h3>{% trans "Politiniai sprendimai" %}</h3>

<table class="table events-table">
  {% for event in events %}
  <tr class="{% if event.position >= 0 %}text-success{% else %}text-danger{% endif %}">
    <td>
      {% if event.position >= 0 %}
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      {% else %}
      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      {% endif %}
      {{ event.title }}
    </td>
    <td class="text-right">{{ event.date|date:"Y-m-d" }}</td>
    <td class="text-right">
      <span class="glyphicon glyphicon-thumbs-up text-success" aria-hidden="true">100</span>
      &nbsp;
      <span class="glyphicon glyphicon-thumbs-down text-danger" aria-hidden="true">32</span>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
