{% extends "socialaccount/base.html" %}
{% load url from future %}
{% load formrenderer from websitetags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  <div class="col-sm-offset-2 col-sm-10">
    <h1>{% trans "Finish your registration" %}</h1>
  </div>

  <div class="col-sm-offset-2 col-sm-10 alert alert-info" role="alert">
    <p>
      {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
      Your registraiton to {{ site_name }} almost done. Please fill in form below and then you be able to
      use {{ site_name }}.
      {% endblocktrans %}
    </p>
  </div>

  {% csrf_token %}
  {% formrenderer form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
  </div>
</form>


{% endblock %}
